﻿@model IEnumerable<FileViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Select files with football leagues</h2>
<form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <div class="custom-file">
            <input multiple type="file" name="uploadedFiles" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" id="inputLabel01">Choose file</label>
        </div>
        <div class="input-group-append">
            <input type="submit" value="Upload" class="input-group-text" id="inputGroupFileAddon02"/>
        </div>
    </div>
    <div id="errors">
    </div>
</form>
<h2>Or</h2>
<p>You can select files directly from the githab. Football data 2019-20</p>
<div class="container">
    <form asp-action="DownloadLinks" asp-controller="Home" method="post" enctype="multipart/form-data">
        <ul class="list-group">
            @foreach (var file in Model)
             {
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="links" value="@file.Link" id="defaultCheck{@file.Name}">
                        <label class="form-check-label" for="defaultCheck{@file.Name}">
                            @file.Name
                        </label>
                    </div>
                </li>
             }
        </ul>
        <input type="submit" value="Upload" class="btn btn-primary btn-lg btn-block" />
    </form>
</div>
<script>
    // fit input form to multiple file names
    const label = document.querySelector("#inputLabel01");
    const input = document.querySelector("#inputGroupFile02");
    input.oninput = (e) => {
        let files = Array.from(e.target.files);
        let text = files.map(x => x.name)
                        .reduce((current, next) => current + ", " + next);
        label.innerText = text;

        // extention validation
        ValidExtention(files);
    }

    function ValidExtention(files)
    {
        const errContainer = document.querySelector("form #errors"); // find container for errors

        files.forEach((item, index, array) => {

            let isValid = item.name.match(/^\w+.\d+.json$/);
            if (isValid == null) {
                // create alert div and append to error container #errors
                let error = document.createElement("div");
                error.innerHTML = '<div class="alert alert-danger" role="alert">' +
                    item.name + " - not supported extention!" +
                    "</div>";
                errContainer.appendChild(error);
            }

        })
    }

    const list = document.querySelectorAll("ul .list-group-item"); // get list with json files
    list.forEach((item, index, array) => {
        // set active on mouse over
        item.onmouseover = (e) => item.classList.add("active");
        item.onmouseleave = (e) => item.classList.remove("active");

        // set chexbox value from list element
        item.onclick = (e) => {
            let input = item.querySelector("input");
            input.checked = input.checked ? false : true;
        }
    })
</script>